<template>
  <div class="action-bar">
    <sound-off v-if="!activeSound" class="btn left" @click="turnActiveSound()" />
    <sound-icon v-if="activeSound" class="btn left" @click="turnActiveSound()" />
    <left-icon
      class="btn left"
      :class="{ disabled: !$parent.canFlipLeft }"
      @click="$parent.flipLeft"
    />
    <minus-icon
      class="btn minus"
      :class="{ disabled: !$parent.canZoomOut }"
      @click="$parent.zoomOut"
    />
    <span class="page-num"> Page {{ $parent.page }} of {{ $parent.numPages }} </span>
    <plus-icon class="btn plus" :class="{ disabled: !$parent.canZoomIn }" @click="$parent.zoomIn" />
    <right-icon
      class="btn right"
      :class="{ disabled: !$parent.canFlipRight }"
      @click="$parent.flipRight"
    />
    <printer-icon class="btn right" @click="printPdf()" />
  </div>
</template>

<script>
import 'vue-material-design-icons/styles.css';
import LeftIcon from 'vue-material-design-icons/ChevronLeftCircle';
import RightIcon from 'vue-material-design-icons/ChevronRightCircle';
import PlusIcon from 'vue-material-design-icons/PlusCircle';
import MinusIcon from 'vue-material-design-icons/MinusCircle';
import PrinterIcon from 'vue-material-design-icons/Download.vue';
import SoundIcon from 'vue-material-design-icons/VolumeHigh.vue';
import SoundOff from 'vue-material-design-icons/VolumeOff.vue';
import { config_settings } from '@/config.js';

export default {
  name: 'ActionBar',
  components: {
    LeftIcon,
    RightIcon,
    PlusIcon,
    MinusIcon,
    PrinterIcon,
    SoundIcon,
    SoundOff,
  },
  data() {
    return {
      activeSound: true,
    };
  },
  methods: {
    turnActiveSound() {
      if (this.activeSound) {
        this.activeSound = false;
      } else {
        this.activeSound = true;
      }
      this.$parent.mutedSound();
    },
    printPdf() {
      this.$parent.generateReport();
    },
  },
};
</script>
