<template>
  <div v-if="fullLoad" id="app" :class="{ 'has-mouse': hasMouse }" @touchstart="hasMouse = false">
    <UserBar
      :editorView="editorView"
      :isUserlogged="isUserlogged"
      :userInformation="userInformation"
    />
    <div class="container-fluid" :style="editorView ? '' : 'margin-top: 1%;'">
      <div class="row">
        <div
          v-if="isUserlogged"
          class="col-md-4 bg-sidebar collapse"
          style="z-index: 2;"
          id="navbarToggleExternalContent"
        >
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <template v-if="!showForm">
              <div
                class="sidebar-content"
                style="position: absolute; height: 90%; overflow-y: scroll; width: 90%;"
              >
                <a
                  href="#"
                  class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                >
                  <span class="fs-5 d-sm-inline">Revista BASC PERÚ TRAINING</span>
                </a>
                <small
                  >Esta es la plataforma de edición de la revista digital BASC PERÚ TRAINING. En el
                  siguiente apartado puede editar todos los elementos gráficos y textos de la
                  publicación.
                </small>

                <draggable
                  class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start ancho-total"
                  id="menu"
                  :list="pages[1]"
                  :disabled="enabledDrag"
                  ghost-class="ghost"
                  @start="isDragging = true"
                  @end="onEnd"
                >
                  <li class="ancho-total" v-for="(p, index) in pages[1]" :key="p.id_page">
                    <a
                      href="#submenu1"
                      data-bs-toggle="collapse"
                      class="nav-link px-0 align-middle"
                      @click="showPage(p)"
                    >
                      <i class="fs-4 bi-speedometer2"></i>
                      <span
                        style="font-size: 20px; color: #24a0ed; position: relative; margin-right: 15px; margin-top: 0.7%; float: right;"
                        ><i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                      ></span>
                      <span class="ms-1 d-sm-inline">{{ index + 1 + ') ' + p.name_page }}</span>
                    </a>
                  </li>
                </draggable>

                <button
                  :class="enabledDrag ? 'btn btn-success btn-block' : 'btn btn-danger btn-block'"
                  style="width: 100% !important; margin-top: 15px;"
                  @click="EnabledDrag()"
                >
                  {{ enabledDrag ? 'Ordenar páginas' : 'Bloquear páginas' }}
                </button>
              </div>
            </template>
            <template v-else>
              <div
                class="sidebar-content"
                style="position: absolute; height: 100%; overflow-y: scroll; width: 90%;"
              >
                <div style="margin-bottom: 10px; padding-right: 6%; padding-left: 3%;">
                  <button style="border: none; background-color: transparent;" @click="showPage()">
                    <span style="font-size: 20px; color: #24a0ed;"
                      ><i class="fa fa-arrow-circle-left" aria-hidden="true"></i
                    ></span>
                  </button>
                  <span class="fs-6 d-sm-inline" style="margin-left: 10px;"
                    >Editando: {{ page.name_page }}</span
                  >
                </div>

                <b-form class="formulario-padre" v-on:submit.prevent="updatePage(page)">
                  <b-form-group id="input-group-1">
                    <b-form-input
                      v-model="page.name_page"
                      id="input-1"
                      placeholder="Ingrese el nombre de la página"
                      required
                      maxlength="50"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group id="select-group-1">
                    <b-form-select
                      v-model="page.id_template"
                      id="basicSelect"
                      value="Seleccione el tipo de página"
                      @change="changeTypePage()"
                      required
                    >
                      <option disabled value="">Seleccione el tipo de página</option>
                      <option
                        v-for="tp in pagesTypes"
                        :key="tp.id_template_page"
                        :value="tp.id_template_page"
                        >{{ tp.desc_template }}</option
                      >
                    </b-form-select>
                  </b-form-group>

                  <div class="card-deck mb-3 text-center" v-if="page.id_template != ''">
                    <div class="card mb-4 box-shadow" style="margin-bottom: 0px !important;">
                      <div class="card-header">
                        <h4 style="color: black;" class="my-0 font-weight-normal">
                          Fondo de la página
                        </h4>
                        <small style="color: black;"
                          >Diseño base de la página. Solo se aceptan imágenes en formato .png
                          (Tamaño recomendado 1000px x 1414px)</small
                        >
                      </div>
                      <form class="form-vertical">
                        <div class="form-group">
                          <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new" id="fileinput-foto">
                              <div class="card-image-product img-thumbnail">
                                <template v-if="page.background.substr(0, 4) === 'blob'">
                                  <img class="card-img-top imagen-cover" :src="page.background" />
                                </template>
                                <template v-else>
                                  <img
                                    class="card-img-top imagen-cover"
                                    :src="generalImagePath + page.background + '.png'"
                                  />
                                </template>
                              </div>
                            </div>
                            <div class="col text-center">
                              <span
                                class="align-self-end btn btn-lg btn-block btn-primary btn-file"
                                style="margin-top: auto;"
                              >
                                <span class="fileinput-new">Selecciona una imagen</span>
                                <input
                                  type="file"
                                  name="fileToUpload"
                                  id="fileToUpload"
                                  @change="onUploadPageBackgroundImage($event, page)"
                                  required
                                />
                              </span>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div
                    class="card-deck mb-3 text-center"
                    v-if="
                      page.id_template == 3 ||
                        page.id_template == 4 ||
                        page.id_template == 8 ||
                        page.id_template == 9 ||
                        page.id_template == 10 ||
                        page.id_template == 11
                    "
                  >
                    <div class="card mb-4 box-shadow" style="margin-bottom: 0px !important;">
                      <div class="card-header">
                        <h4 style="color: black;" class="my-0 font-weight-normal">
                          Imagen Primaria
                        </h4>
                        <small style="color: black;"
                          >Solo se aceptan imágenes en formato .png</small
                        >
                      </div>
                      <form class="form-vertical">
                        <div class="form-group">
                          <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new" id="fileinput-foto">
                              <div class="card-image-product img-thumbnail">
                                <template v-if="page.image_first.substr(0, 4) === 'blob'">
                                  <img class="card-img-top imagen-cover" :src="page.image_first" />
                                </template>
                                <template v-else>
                                  <img
                                    class="card-img-top imagen-cover"
                                    :src="generalImagePath + page.image_first + '.png'"
                                  />
                                </template>
                              </div>
                            </div>
                            <div class="col text-center">
                              <span
                                class="align-self-end btn btn-lg btn-block btn-primary btn-file"
                                style="margin-top: auto;"
                              >
                                <span class="fileinput-new">Selecciona una imagen</span>
                                <input
                                  type="file"
                                  name="fileToUpload"
                                  id="fileToUpload"
                                  @change="onUploadFirstPageImage($event, page)"
                                  required
                                />
                              </span>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <b-form-group
                    id="textarea-group-1"
                    v-if="
                      page.id_template == 1 ||
                        page.id_template == 2 ||
                        page.id_template == 3 ||
                        page.id_template == 6 ||
                        page.id_template == 7 ||
                        page.id_template == 8 ||
                        page.id_template == 9
                    "
                  >
                    <tinymce
                      id="d1"
                      :other_options="tinyOptions"
                      v-model="page.desc_page_first"
                      @editorInit="loadTinyD1(page.desc_page_first)"
                      @editorChange="emptyTinyd1()"
                      :key="firstTinyEditorKey"
                    ></tinymce>
                  </b-form-group>

                  <b-form-group
                    id="input-group-1"
                    v-if="page.id_template == 2 || page.id_template == 4 || page.id_template == 6"
                  >
                    <b-form-input
                      v-model="page.name_button"
                      id="input-1"
                      placeholder="Ingrese el nombre del botón"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    id="input-group-1"
                    v-if="page.id_template == 2 || page.id_template == 4 || page.id_template == 6"
                  >
                    <b-form-input
                      v-model="page.url_button"
                      id="input-1"
                      placeholder="Ingrese la url del botón"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <div
                    class="card-deck mb-3 text-center"
                    v-if="
                      page.id_template == 2 ||
                        page.id_template == 7 ||
                        page.id_template == 10 ||
                        page.id_template == 11
                    "
                  >
                    <div class="card mb-4 box-shadow" style="margin-bottom: 0px !important;">
                      <div class="card-header">
                        <h4 style="color: black;" class="my-0 font-weight-normal">
                          Imagen Secundaria
                        </h4>
                        <small style="color: black;"
                          >Solo se aceptan imágenes en formato .png</small
                        >
                      </div>
                      <form class="form-vertical">
                        <div class="form-group">
                          <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new" id="fileinput-foto">
                              <div class="card-image-product img-thumbnail">
                                <template v-if="page.image_second.substr(0, 4) === 'blob'">
                                  <img class="card-img-top imagen-cover" :src="page.image_second" />
                                </template>
                                <template v-else>
                                  <img
                                    class="card-img-top imagen-cover"
                                    :src="generalImagePath + page.image_second + '.png'"
                                  />
                                </template>
                              </div>
                            </div>
                            <div class="col text-center">
                              <span
                                class="align-self-end btn btn-lg btn-block btn-primary btn-file"
                                style="margin-top: auto;"
                              >
                                <span class="fileinput-new">Selecciona una imagen</span>
                                <input
                                  type="file"
                                  name="fileToUpload"
                                  id="fileToUpload"
                                  @change="onUploadSecondPageImage($event, page)"
                                  required=""
                                />
                              </span>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <b-form-group
                    id="textarea-group-2"
                    v-if="
                      page.id_template == 6 ||
                        page.id_template == 8 ||
                        page.id_template == 10 ||
                        page.id_template == 11
                    "
                  >
                    <tinymce
                      id="d2"
                      :other_options="tinyOptions"
                      v-model="page.desc_page_second"
                      @editorInit="loadTinyD2(page.desc_page_second)"
                      @editorChange="emptyTinyd2()"
                    ></tinymce>
                  </b-form-group>

                  <b-form-group id="select-group-2">
                    <b-form-select
                      v-model="page.state.id"
                      id="basicSelect"
                      value="Seleccione el estado de la página"
                      required
                    >
                      <option disabled value="">Seleccione el estado de la página</option>
                      <option
                        v-for="estado in pagesStates"
                        :key="estado.id_state"
                        :value="estado.id_state"
                        >{{ estado.desc_state_es }}</option
                      >
                    </b-form-select>
                  </b-form-group>

                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary" @click="saveDraft()">
                      <i class="fa fa-pencil"></i> Guardar Borrador
                    </button>
                    <button type="submit" class="btn btn-primary">
                      <i class="fa fa-save"></i> Guardar Cambios
                    </button>
                  </div>

                  <div class="form-group"></div>
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      @click="duplicatePage()"
                      style="position: relative; float: right;"
                    >
                      <i class="fa fa-clone"></i> Duplicar página y todos sus elementos
                    </button>
                  </div>

                  <br />
                  <ul class="list-group" style="margin-top:20px;">
                    <li class="list-group-item" v-for="(d, index) in drafts" :key="d.id_borrador">
                      Borrador #{{ index + 1 }} {{ d.reg_date }}
                      <div class="form-group" style="float: right;">
                        <button
                          type="button"
                          class="btn btn-sm btn-success"
                          @click="loadDraft(d.id_borrador)"
                        >
                          <i class="fa fa-spinner"></i> Cargar borrador
                        </button>
                        <button
                          type="button"
                          class="btn btn-sm btn-danger"
                          @click="deleteDraft(d.id_borrador)"
                        >
                          <i class="fa fa-trash"></i> Eliminar borrador
                        </button>
                      </div>
                    </li>
                  </ul>

                  <div
                    style="margin-top: 5px;"
                    v-if="page.id_template == 5 || page.id_template == 9"
                  >
                    <h4 style="padding-top: 8px; display: inline-block;">Items:</h4>
                    <button
                      type="button"
                      style="border: none; background-color: transparent; float: right; margin-bottom: -10px;"
                      class="btn btn-primary"
                      @click="addItem(page.id_page)"
                      :disabled="isAddItemButtonDisabled"
                    >
                      <span style="font-size: 20px; color: #24a0ed;"
                        ><i class="fa fa-plus-circle" aria-hidden="true"></i
                      ></span>
                    </button>

                    <div
                      class="card-deck mb-3 text-center"
                      v-for="(item, index) in page.items"
                      :key="item.id_item"
                    >
                      <div class="card mb-4 box-shadow" style="margin-bottom: 0px !important;">
                        <div class="card-header">
                          <h4 style="color: black;" class="my-0 font-weight-normal">Item</h4>
                        </div>
                        <form class="form-vertical">
                          <template v-if="page.id_template == 9">
                            <div class="form-group">
                              <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new" id="fileinput-foto">
                                  <div class="card-image-product img-thumbnail">
                                    <template v-if="item.url_image_item != 'products/empty-img'">
                                      <button
                                        type="button"
                                        style="position: absolute; border: solid 0.5px;"
                                        class="btn-close"
                                        aria-label="Close"
                                        @click="defaultPhoto(1, item.id_item)"
                                      ></button>
                                    </template>
                                    <img
                                      class="card-img-top imagen-cover"
                                      :src="generalImagePath + item.url_image_item + 'x640.png'"
                                    />
                                  </div>
                                </div>
                                <div class="col text-center">
                                  <span
                                    class="align-self-end btn btn-lg btn-block btn-primary btn-file"
                                    style="margin-top: auto;"
                                  >
                                    <span class="fileinput-new">Selecciona una imagen</span>
                                    <input
                                      type="file"
                                      name="fileToUpload2"
                                      id="fileToUpload2"
                                      @change="onUploadInFirstItemImageSlot($event, item)"
                                      required
                                    />
                                  </span>
                                </div>
                              </div>
                            </div>
                          </template>

                          <template v-if="page.id_template == 9 || page.id_template == 5">
                            <div class="form-group">
                              <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new" id="fileinput-foto">
                                  <div class="card-image-product img-thumbnail">
                                    <template
                                      v-if="item.url_image_item_second != 'products/empty-img'"
                                    >
                                      <button
                                        type="button"
                                        style="position: absolute; border: solid 0.5px;"
                                        class="btn-close"
                                        aria-label="Close"
                                        @click="defaultPhoto(2, item.id_item)"
                                      ></button>
                                    </template>
                                    <img
                                      class="card-img-top imagen-cover"
                                      :src="
                                        generalImagePath + item.url_image_item_second + 'x640.png'
                                      "
                                    />
                                  </div>
                                </div>
                                <div class="col text-center">
                                  <span
                                    class="align-self-end btn btn-lg btn-block btn-primary btn-file"
                                    style="margin-top: auto;"
                                  >
                                    <span class="fileinput-new">Selecciona una imagen</span>
                                    <input
                                      type="file"
                                      name="fileToUpload4"
                                      id="fileToUpload4"
                                      @change="onUploadInSecondItemImageSlot($event, item)"
                                      required
                                    />
                                  </span>
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new" id="fileinput-foto">
                                  <div class="card-image-product img-thumbnail">
                                    <template
                                      v-if="item.url_image_item_third != 'products/empty-img'"
                                    >
                                      <button
                                        type="button"
                                        style="position: absolute; border: solid 0.5px;"
                                        class="btn-close"
                                        aria-label="Close"
                                        @click="defaultPhoto(3, item.id_item)"
                                      ></button>
                                    </template>
                                    <img
                                      class="card-img-top imagen-cover"
                                      :src="
                                        generalImagePath + item.url_image_item_third + 'x640.png'
                                      "
                                    />
                                  </div>
                                </div>
                                <div class="col text-center">
                                  <span
                                    class="align-self-end btn btn-lg btn-block btn-primary btn-file"
                                    style="margin-top: auto;"
                                  >
                                    <span class="fileinput-new">Selecciona una imagen</span>
                                    <input
                                      type="file"
                                      name="fileToUpload5"
                                      id="fileToUpload5"
                                      @change="onUploadInThirdItemImageSlot($event, item)"
                                      required
                                    />
                                  </span>
                                </div>
                              </div>
                            </div>
                          </template>

                          <b-form-group
                            :id="'textarea-group-' + (index + 3)"
                            v-if="page.id_template == 9"
                          >
                            <tinymce
                              :id="'d' + (index + 2)"
                              :other_options="tinyOptions"
                              v-model="item.desc_item"
                              @editorInit="loadTinyMultiD(item, index + 2)"
                              @editorChange="emptyTinyMultiD(index + 2, item)"
                            ></tinymce>
                          </b-form-group>

                          <b-form-group v-if="page.id_template == 5">
                            <b-form-input
                              v-model="item.desc_item"
                              id="input-1"
                              placeholder="Enlace del item"
                              required
                            ></b-form-input>
                          </b-form-group>

                          <div style="margin-bottom: 10px;">
                            <button type="button" class="btn btn-primary" @click="updateItem(item)">
                              Actualizar item</button
                            >&nbsp;
                            <button
                              type="button"
                              class="btn btn-danger"
                              @click="deleteItem(item.id_item)"
                            >
                              Eliminar item
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                  <div class="btn-group" style="margin-top:20px;">
                    <button type="button" class="btn btn-danger" @click="deletePageAndDrafts()">
                      <i class="fa fa-trash"></i> Eliminar página y todos los borradores
                    </button>
                  </div>
                </b-form>
              </div>
            </template>
          </div>
        </div>
        <div :class="showNavbar ? 'col-sm-12' : 'col-sm-12 col-md-8'">
          <div>
            <MagazineEffectsBook
              class="book-effects"
              :pages="pages[0].normal"
              :startPage="pageNum"
              :data="pages[1]"
              v-slot="bookEffects"
              ref="bookEffects"
              @flip-left-start="onFlipLeftStart"
              @flip-left-end="onFlipLeftEnd"
              @flip-right-start="onFlipRightStart"
              @flip-right-end="onFlipRightEnd"
              @zoom-start="onZoomStart"
              @zoom-end="onZoomEnd"
              :key="magazineKey"
            >
              <ActionBar />
            </MagazineEffectsBook>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'vue-material-design-icons/styles.css';
import toastr from 'toastr';
import MagazineEffectsBook from '@/components/books/MagazineEffectsBook/MagazineEffectsBook';
import draggable from 'vuedraggable';
import ActionBar from '@/components/general/ActionBar';
import UserBar from '@/components/general/UserBar';
import { config_settings } from '@/config.js';
import { postLogin, getProfileData } from '@/service/account.service';
import {
  generateRefreshTokenBodyRequest,
  setTokens,
  getAccessToken,
  deleteTokens,
} from '@/helpers/localStorage.helpers';
import {
  getAdminPages,
  getPublicPages,
  getIndividualPage,
  getUpdatePageDependencies,
  updateIndividualPage,
  addIndividualPage,
  updateBackgroundxPage,
  updateFirstPhotoxPage,
  updateSecondPhotoxPage,
  deleteIndividualPage,
  setPagesOrder,
} from '@/service/pages.service';
import {
  getDraftsxPage,
  getIndividualDraft,
  updateBackgroundxDraft,
  updateFirstPhotoxDraft,
  updateSecondPhotoxDraft,
  addIndividualDraft,
  deleteIndividualDraft,
} from '@/service/draft.service';
import {
  getItemsxPage,
  updateItemPhoto,
  uploadPhotoxItem,
  uploadSecondPhotoxItem,
  uploadThirdPhotoxItem,
  addNewItem,
  updateIndividualItem,
  deleteItemsxPage,
  deleteIndividualItem,
} from '@/service/items.service';
import {
  NOT_FOUND,
  BAD_REQUEST,
  UNAUTHORIZED,
  INTERNAL_SERVER_ERROR,
} from '@/types/httpd.constants';

export default {
  name: 'BookSidebarContainer',
  components: {
    draggable,
    MagazineEffectsBook,
    ActionBar,
    UserBar,
  },
  props: {
    editorView: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      fullLoad: false,
      showNavbar: true,
      pages: [{ normal: [null], hires: [null] }],
      page: {},
      pagesTypes: [],
      pagesStates: [],
      hasMouse: true,
      pageNum: null,
      tinyOptions: {
        entity_encoding: 'raw',
      },
      showForm: false,
      pageBackgroundImageData: '',
      pageFirstImageData: '',
      pageSecondImageData: '',
      items: [],
      isAddItemButtonDisabled: false,
      itemImageData: '',
      secondItemImageData: '',
      thirdItemImageData: '',
      generalImagePath: config_settings.PHOTO_SERVER_URL + 'admin/',
      firstTinyEditorKey: 0,
      magazineKey: 0,
      userInformation: null,
      drafts: [],
      isDragging: false,
      delayedDragging: false,
      checkedNames: [],
      enabledDrag: true,
      activeSound: true,
      isUserlogged: false,
    };
  },

  created() {
    this.editorView ? this.getUserInformation() : (this.userInformation = null);
    this.goToPage(1);
    this.fullLoad = true;
  },

  mounted() {
    window.addEventListener('keydown', (ev) => {
      const bookEffects = this.$refs.bookEffects;
      if (!bookEffects) {
        return;
      }
      if (ev.keyCode === 37 && bookEffects.canFlipLeft) {
        bookEffects.flipLeft();
      }
      if (ev.keyCode === 39 && bookEffects.canFlipRight) {
        return bookEffects.flipRight();
      }
    });

    this.editorView ? this.getPages() : this.getPages_public();
    window.addEventListener('hashchange', this.setPageFromHash);
    this.setPageFromHash();
  },

  watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    },
  },

  methods: {
    printPdf() {
      this.$refs.bookEffects.generateReport();
    },

    turnActiveSound() {
      if (this.activeSound) {
        this.activeSound = false;
      } else {
        this.activeSound = true;
      }
      this.$refs.bookEffects.mutedSound();
    },

    getUserInformation() {
      getProfileData(getAccessToken())
        .then((response) => {
          this.userInformation = response.data;
          this.isUserlogged = true;
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.getUserInformation();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push('/login');
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    closeSession() {
      deleteTokens();
      this.$router.push('/login');
    },

    setShowNavbar() {
      if (this.showNavbar) {
        this.showNavbar = false;
      } else if (!this.showNavbar) {
        this.showNavbar = true;
      }
      this.magazineKey = this.magazineKey + 1;
      this.activeSound = true;
    },

    defaultPhoto(index, id_item) {
      let jsonData = {
        indexItem: index,
        id_item: id_item,
      };

      updateItemPhoto(jsonData, getAccessToken())
        .then((response) => {
          this.getItems();
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.defaultPhoto(index, id_item);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    forceRenderFirstEditor() {
      this.firstTinyEditorKey += 1;
    },

    addItem(id_page) {
      let jsonData = {
        id_page: id_page,
        desc_item: '',
        id_state: 1,
      };

      addNewItem(jsonData, getAccessToken())
        .then((response) => {
          this.getItems();
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.addItem(id_page);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    updateItem(item) {
      let jsonData = {
        id_item: item.id_item,
        desc_item: item.desc_item,
      };

      updateIndividualItem(jsonData, getAccessToken())
        .then((response) => {
          toastr.success('Se actualizó el item correctamente.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
          this.getItems();
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.updateItem(item);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    getItems() {
      getItemsxPage(this.page.id_page, getAccessToken())
        .then((response) => {
          if (
            (this.page.id_template == 5 && this.items.length == 6) ||
            (this.page.id_template == 9 && this.items.length == 3)
          ) {
            this.isAddItemButtonDisabled = true;
          }
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.getItems();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          }
        });
    },

    deleteItems() {
      deleteItemsxPage(this.page.id_page, getAccessToken())
        .then((response) => {})
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.deleteItems();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    deleteItem(id) {
      deleteIndividualItem(id, getAccessToken())
        .then((response) => {
          this.getItems();
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.deleteItem(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    changeTypePage() {
      this.page.desc_page_first = '';
      this.page.desc_page_second = '';
      this.page.image_first = '';
      this.page.image_second = '';
      this.page.background = '';
      this.page.name_button = '';
      this.page.url_button = '';
      this.items = [];

      if (this.page.id_template == 5 || this.page.id_template == 9) {
        this.deleteItems();
      }

      if (this.page.id_template < 10) {
        this.forceRenderFirstEditor();
      }
    },

    updatePage() {
      updateIndividualPage(this.page, getAccessToken())
        .then((response) => {
          if (this.pageFirstImageData != '') {
            this.uploadFirstPhoto(this.page.id_page);
          }

          if (this.pageSecondImageData != '') {
            this.uploadSecondPhoto(this.page.id_page);
          }

          if (this.pageBackgroundImageData != '') {
            this.uploadBackground(this.page.id_page);
          }

          toastr.success('Se actualizó la página correctamente.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.updatePage();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadBackground(id) {
      updateBackgroundxPage(id, this.pageBackgroundImageData, getAccessToken())
        .then((response) => {
          toastr.success('La página y la(s) foto(s) han sido modificadas con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadBackground(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadFirstPhoto(id) {
      updateFirstPhotoxPage(id, this.pageFirstImageData, getAccessToken())
        .then((response) => {
          toastr.success('La página y la(s) foto(s) han sido modificadas con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadFirstPhoto(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadSecondPhoto(id) {
      updateSecondPhotoxPage(id, this.pageSecondImageData, getAccessToken())
        .then((response) => {
          toastr.success('La página y la(s) foto(s) han sido modificadas con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadSecondPhoto(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadBackgroundDraft(id) {
      updateBackgroundxDraft(id, this.pageBackgroundImageData, getAccessToken())
        .then((response) => {
          toastr.success('La página y la(s) foto(s) han sido modificadas con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
          this.pageBackgroundImageData = '';
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadBackgroundDraft(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadFirstPhotoDraft(id) {
      updateFirstPhotoxDraft(id, this.pageFirstImageData, getAccessToken())
        .then((response) => {
          toastr.success('La página y la(s) foto(s) han sido modificadas con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
          this.pageFirstImageData = '';
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadFirstPhotoDraft(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadSecondPhotoDraft(id) {
      updateSecondPhotoxDraft(id, this.pageSecondImageData, getAccessToken())
        .then((response) => {
          toastr.success('La página y la(s) foto(s) han sido modificadas con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
          this.pageSecondImageData = '';
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadSecondPhotoDraft(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadItemPhoto(id) {
      uploadPhotoxItem(id, this.itemImageData, getAccessToken())
        .then((response) => {
          toastr.success('La foto ha sido modificada con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
          this.getItems();
          this.itemImageData = '';
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadItemPhoto(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadItemPhotoSecond(id) {
      uploadSecondPhotoxItem(id, this.secondItemImageData, getAccessToken())
        .then((response) => {
          toastr.success('La foto ha sido modificada con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
          this.getItems();
          this.secondItemImageData = '';
        })
        .catch((error) => {
          console.log(error);
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadItemPhotoSecond(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    uploadItemPhotoThird(id) {
      uploadThirdPhotoxItem(id, this.thirdItemImageData, getAccessToken())
        .then((response) => {
          toastr.success('La foto ha sido modificada con éxito.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
          this.getItems();
          this.thirdItemImageData = '';
        })
        .catch((error) => {
          console.log(error);
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.uploadItemPhotoThird(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    loadTinyD1(description) {
      if (description != '') {
        this.page.desc_page_first = description + ' ';
      }
    },

    loadTinyD2(description) {
      if (description != '') {
        this.page.desc_page_second = description + ' ';
      }
    },

    loadTinyMultiD(item, index) {
      if (item.desc_item != '') {
        item.desc_item = item.desc_item + ' ';
      }
    },

    getPage(id) {
      getIndividualPage(id, getAccessToken())
        .then((response) => {
          this.page = response.data;
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.getPage(id);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    duplicatePage() {
      let cantidadPaginas = this.pages[1].length;
      let namePage = this.page.name_page;
      this.page.name_page = 'Copia de ' + namePage;
      addIndividualPage(this.page, getAccessToken())
        .then((response) => {
          this.showPage();
          this.magazineKey = this.magazineKey + 1;
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.duplicatePage();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    loadSelects() {
      getUpdatePageDependencies(getAccessToken())
        .then((response) => {
          this.pagesTypes = response.data.type_pages;
          this.pagesStates = response.data.states;
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.loadSelects();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    saveDraft() {
      addIndividualDraft(this.page, getAccessToken())
        .then((response) => {
          let last_code = response.data.last_code;

          if (this.pageFirstImageData != '') {
            this.uploadFirstPhotoDraft(last_code);
          }

          if (this.pageSecondImageData != '') {
            this.uploadSecondPhotoDraft(last_code);
          }

          if (this.pageBackgroundImageData != '') {
            this.uploadBackgroundDraft(last_code);
          }

          this.getDrafts(this.page.id_page);
          toastr.success('Se guardó el borrador exitosamente.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.saveDraft();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    deleteDraft(id_borrador) {
      deleteIndividualDraft(id_borrador, getAccessToken())
        .then((response) => {
          this.getDrafts(this.page.id_page);
          toastr.success('Se eliminó el borrador correctamente.', 'ÉXITO', {
            iconClass: 'customer-success',
          });
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.deleteDraft(id_borrador);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    deletePageAndDrafts() {
      if (confirm('¿Está seguro de eliminar la página y los borradores relacionados a ella?')) {
        deleteIndividualPage(this.page.id_page, getAccessToken())
          .then((response) => {
            this.showPage();
            this.magazineKey = this.magazineKey + 1;
            toastr.success('Se eliminaron las páginas y los borredares correctamente.', 'ÉXITO', {
              iconClass: 'customer-success',
            });
          })
          .catch((error) => {
            if (error.response.status === UNAUTHORIZED) {
              this.refreshToken()
                .then((_) => {
                  this.deletePageAndDrafts();
                })
                .catch((_) => {
                  toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                    iconClass: 'customer-danger',
                  });
                  this.$router.push({ name: 'Login' });
                });
            } else {
              toastr.error(error.response.data.details, error.response.data.message, {
                iconClass: 'customer-danger',
              });
            }
          });
      }
    },

    loadDraft(id_borrador) {
      getIndividualDraft(id_borrador, getAccessToken())
        .then((response) => {
          this.getPages(true, response.data);
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.loadDraft(id_borrador);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          }
        });
    },

    getDrafts(id_page) {
      getDraftsxPage(id_page, getAccessToken())
        .then((response) => {
          this.drafts = response.data;
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.getDrafts(id_page);
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          }

          if (error.response.status === NOT_FOUND) {
            this.drafts = [];
          }
        });
    },

    EnabledDrag() {
      if (this.enabledDrag) this.enabledDrag = false;
      else this.enabledDrag = true;
    },

    showPage(obj) {
      if (this.showForm) {
        this.showForm = false;
        for (const key in this.page) {
          delete this.page[key];
        }
        this.editorView ? this.getPages() : this.getPages_public();
        this.drafts = [];
        this.pageFirstImageData = '';
        this.pageSecondImageData = '';
        this.pageBackgroundImageData = '';
        return;
      }
      this.goToPage(obj.page);
      this.loadSelects();
      this.page = obj;
      if (this.page.id_template == 5 || this.page.id_template == 9) {
        this.getItems();
      }
      this.showForm = true;
      this.getDrafts(this.page.id_page);
    },

    getPages(reload = false, draft = {}) {
      getAdminPages(getAccessToken())
        .then((response) => {
          let actualPageId = this.page.id_page;
          this.pages = [{ normal: [null] }];

          response.data.magazines.forEach((e, index) => {
            this.pages[0].normal.push(
              config_settings.PHOTO_SERVER_URL + 'admin/' + e.background_hires,
            );
            e.page = index + 1;
          });
          this.pages.push(response.data.magazines);
          if (reload) {
            let indexArray = this.pages[1].findIndex((e) => e.id_page === draft.id_page);
            this.pages[1][indexArray] = draft;
            this.page = this.pages[1][indexArray];
          }
        })
        .catch((error) => {
          console.log(error);
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.getPages();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ name: 'Login' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    getPages_public() {
      getPublicPages()
        .then((response) => {
          this.pages = [{ normal: [null] }];
          response.data.magazines.forEach((e, index) => {
            this.pages[0].normal.push(
              config_settings.PHOTO_SERVER_URL + 'admin/' + e.background_hires,
            );
            e.page = index + 1;
          });
          this.pages.push(response.data.magazines);
          console.log(this.pages);
        })
        .catch((error) => {
          toastr.error(error.response.data.details, error.response.data.message, {
            iconClass: 'customer-danger',
          });
        });
    },

    goToPage(page) {
      if (page == 1) {
        return (window.location.hash = '#' + 1);
      }
      let residuo = page % 2;
      let realPage = 0;
      if (residuo === 0) {
        realPage = page;
      } else {
        if (page != 1) {
          realPage = page - 1;
        }
      }
      return (window.location.hash = '#' + realPage);
    },

    onUploadPageBackgroundImage(e, page) {
      const file = e.target.files[0];
      if (file.type == 'image/png') {
        this.pageBackgroundImageData = file;
        page.background = URL.createObjectURL(file);
      } else {
        toastr.error('La imagen tiene que estar en formato PNG.', 'Error', {
          iconClass: 'customer-danger',
        });
      }
    },

    onUploadFirstPageImage(e, page) {
      const file = e.target.files[0];
      if (file.type == 'image/png') {
        this.pageFirstImageData = file;
        page.image_first = URL.createObjectURL(file);
      } else {
        toastr.error('La imagen tiene que estar en formato PNG.', 'Error', {
          iconClass: 'customer-danger',
        });
      }
    },

    onUploadSecondPageImage(e, page) {
      const file = e.target.files[0];
      if (file.type == 'image/png') {
        this.pageSecondImageData = file;
        page.image_second = URL.createObjectURL(file);
      } else {
        toastr.error('La imagen tiene que estar en formato PNG.', 'Error', {
          iconClass: 'customer-danger',
        });
      }
    },

    onUploadInFirstItemImageSlot(e, item) {
      const file = e.target.files[0];
      if (file.type == 'image/png') {
        this.itemImageData = file;
        this.uploadItemPhoto(item.id_item);
      } else {
        toastr.error('La imagen tiene que estar en formato PNG.', 'Error', {
          iconClass: 'customer-danger',
        });
      }
    },

    onUploadInSecondItemImageSlot(e, item) {
      const file = e.target.files[0];
      if (file.type == 'image/png') {
        this.secondItemImageData = file;
        this.uploadItemPhotoSecond(item.id_item);
      } else {
        toastr.error('La imagen tiene que estar en formato PNG.', 'Error', {
          iconClass: 'customer-danger',
        });
      }
    },

    onUploadInThirdItemImageSlot(e, item) {
      const file = e.target.files[0];
      if (file.type == 'image/png') {
        this.thirdItemImageData = file;
        this.uploadItemPhotoThird(item.id_item);
      } else {
        toastr.error('La imagen tiene que estar en formato PNG.', 'Error', {
          iconClass: 'customer-danger',
        });
      }
    },

    onEnd() {
      var arreglo = [];
      var i = 0;
      this.isDragging = false;
      this.pages[1].forEach((element) => {
        arreglo.push([element.id_page, i]);
        i++;
      });
      this.checkedNames = arreglo;
      this.ordenarMasivo();
    },

    ordenarMasivo() {
      setPagesOrder(this.checkedNames, getAccessToken())
        .then((response) => {
          console.log('Se ordenaron los datos corractamente');
        })
        .catch((error) => {
          if (error.response.status === UNAUTHORIZED) {
            this.refreshToken()
              .then((_) => {
                this.ordenarMasivo();
              })
              .catch((_) => {
                toastr.error('Debe iniciar sesión antes de continuar', 'Error', {
                  iconClass: 'customer-danger',
                });
                this.$router.push({ generalImagePath: '../../../../../../login/' });
              });
          } else {
            toastr.error(error.response.data.details, error.response.data.message, {
              iconClass: 'customer-danger',
            });
          }
        });
    },

    emptyTinyd1() {
      if (this.page.desc_page_first != '') {
        document.getElementById('d1').required = false;
      } else {
        document.getElementById('d1').required = true;
      }
    },

    emptyTinyd2() {
      if (this.page.desc_page_second != '') {
        document.getElementById('d2').required = false;
      } else {
        document.getElementById('d2').required = true;
      }
    },

    emptyTinyMultiD(index, item) {
      let id = 'd' + index;
      if (item.desc_item != '') {
        document.getElementById(id).required = false;
      } else {
        document.getElementById(id).required = true;
      }
    },

    onFlipLeftStart(page) {
      return console.log('flip-left-start', page);
    },

    onFlipLeftEnd(page) {
      console.log('flip-left-end', page);
      this.$refs.bookEffects.audio.play();
      return (window.location.hash = '#' + page);
    },

    onFlipRightStart(page) {
      return console.log('flip-right-start', page);
    },

    onFlipRightEnd(page) {
      console.log('flip-right-end', page);
      this.$refs.bookEffects.audio.play();
      return (window.location.hash = '#' + page);
    },

    onZoomStart(zoom) {
      return console.log('zoom-start', zoom);
    },

    onZoomEnd(zoom) {
      return console.log('zoom-end', zoom);
    },

    setPageFromHash() {
      const n = parseInt(window.location.hash.slice(1), 10);
      if (isFinite(n)) {
        return (this.pageNum = n);
      }
    },

    refreshToken() {
      const body = generateRefreshTokenBodyRequest();
      const refreshingCall = postLogin(body).then((response) => {
        setTokens(response.data.access_token, response.data.refresh_token);
        return Promise.resolve(true);
      });
      return refreshingCall;
    },
  },
};
</script>

<style lang="scss">
@import '/assets/css/personalized_style.css';
</style>

<style>
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
</style>
