<template>
  <nav v-if="editorView && isUserlogged" class="navbar navbar-dark bg-sidebar ancho-total">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        @click="setShowNavbar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown" style="float: right;">
        <a
          href="#"
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="/img/ui-sam.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle" />
          <span class="d-sm-inline mx-1">¡Hola {{ userInformation.name_user }}!</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
          <li>
            <a class="dropdown-item color-dropdown" href="#" @click="closeSession()"
              >Cerrar Sesión</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'UserBar',
  props: ['editorView', 'isUserlogged', 'userInformation'],
  methods: {
    setShowNavbar() {
      this.$parent.setShowNavbar();
    },
    closeSession() {
      this.$parent.closeSession();
    },
  },
};
</script>
