<template>
  <div>
    <div class="contenedor-pag" v-if="data[indexPage].id_template == 11">
      <div class="foto-portada-contenedor">
        <div class="foto-imagen foto-contraportada">
          <template v-if="data[indexPage].image_first.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].image_first" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].image_first + '.png'" alt="" />
          </template>
        </div>
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <div class="logo logo-contraportada">
          <template v-if="data[indexPage].image_second.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].image_second" alt="Logo BASC Perú" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].image_second + '.png'" alt="Logo BASC Perú" />
          </template>
        </div>
        <div class="datos-contacto">
          <span v-html="data[indexPage].desc_page_second"></span>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 10">
      <div class="foto-portada-contenedor">
        <div class="foto-imagen foto-portada">
          <template v-if="data[indexPage].image_first.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].image_first" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].image_first + '.png'" alt="" />
          </template>
        </div>
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <div class="logo logo-portada">
          <template v-if="data[indexPage].image_second.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].image_second" alt="Logo BASC Perú" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].image_second + '.png'" alt="Logo BASC Perú" />
          </template>
        </div>
        <div class="titulo-portada">
          <span v-html="data[indexPage].desc_page_second"></span>
        </div>
        <div class="pie-contacto">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 9">
      <div class="foto-portada-contenedor">
        <div class="foto-imagen foto-pag2">
          <template v-if="data[indexPage].image_first.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].image_first" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].image_first + '.png'" alt="" />
          </template>
        </div>
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <span v-html="data[indexPage].desc_page_first"></span>
        <div class="beneficios-basc">
          <div class="beneficios-item" v-for="item in data[indexPage].items" :key="item.id_item">
            <div class="beneficios-iconos">
              <img
                :src="path + item.url_image_item + '.png'"
                alt=""
                v-if="item.url_image_item != 'products/empty-img'"
              />
              <img
                :src="path + item.url_image_item_second + '.png'"
                alt=""
                v-if="item.url_image_item_second != 'products/empty-img'"
              />
              <img
                :src="path + item.url_image_item_third + '.png'"
                alt=""
                v-if="item.url_image_item_third != 'products/empty-img'"
              />
            </div>
            <span v-html="item.desc_item"></span>
          </div>
        </div>
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 8">
      <div class="foto-portada-contenedor">
        <div class="foto-imagen">
          <template v-if="data[indexPage].image_first.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].image_first" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].image_first + '.png'" alt="" />
          </template>
        </div>
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <span v-html="data[indexPage].desc_page_first"></span>
        <span v-html="data[indexPage].desc_page_second"></span>
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 7">
      <div class="foto-portada-contenedor">
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <span v-html="data[indexPage].desc_page_first"></span>
        <div class="foto-pie">
          <template v-if="data[indexPage].image_second.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].image_second" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].image_second + '.png'" alt="" />
          </template>
        </div>
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 6">
      <div class="foto-portada-contenedor">
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <span v-html="data[indexPage].desc_page_first"></span>
        <a
          class="btn-basc btn-cursos events-all"
          :href="data[indexPage].url_button"
          target="_blank"
          >{{ data[indexPage].name_button }}</a
        >
        <span v-html="data[indexPage].desc_page_second"></span>
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 5">
      <div class="foto-portada-contenedor">
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <div
          :class="'rrss-contenedor rrss' + (index + 1)"
          v-for="(item, index) in data[indexPage].items"
          :key="item.id_item"
        >
          <div class="rrss-icono">
            <a class="events-all" :href="item.desc_item" target="_blank"
              ><img :src="path + item.url_image_item_second + '.png'" alt="Facebook"
            /></a>
          </div>
          <div class="rrss-captura">
            <a class="events-all" :href="item.desc_item" target="_blank"
              ><img :src="path + item.url_image_item_third + '.png'" alt="Facebook BASC"
            /></a>
          </div>
        </div>
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 4">
      <div class="foto-portada-contenedor">
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <div class="banner banner-top">
          <a :href="data[indexPage].url_button" target="_blank">
            <template v-if="data[indexPage].image_first.substr(0, 4) === 'blob'">
              <img :src="data[indexPage].image_first" :alt="data[indexPage].name_button" />
            </template>
            <template v-else>
              <img
                :src="path + data[indexPage].image_first + '.png'"
                :alt="data[indexPage].name_button"
              />
            </template>
          </a>
        </div>
        <a
          class="btn-basc btn-basc-centrado btn-basc-top events-all"
          :href="data[indexPage].url_button"
          target="_blank"
          >{{ data[indexPage].name_button }}</a
        >
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 3">
      <div class="foto-portada-contenedor">
        <div class="foto-imagen">
          <template v-if="data[indexPage].image_first.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].image_first" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].image_first + '.png'" alt="" />
          </template>
        </div>
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <span v-html="data[indexPage].desc_page_first"></span>
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 2">
      <div class="foto-portada-contenedor">
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <span v-html="data[indexPage].desc_page_first"></span>
        <div class="banner banner-pie">
          <a :href="data[indexPage].url_button" class="events-all" target="_blank">
            <template v-if="data[indexPage].image_second.substr(0, 4) === 'blob'">
              <img :src="data[indexPage].image_second" :alt="data[indexPage].name_button" />
            </template>
            <template v-else>
              <img
                :src="path + data[indexPage].image_second + '.png'"
                :alt="data[indexPage].name_button"
              />
            </template>
          </a>
        </div>
        <a
          class="btn-basc btn-basc-centrado btn-basc-pie events-all"
          :href="data[indexPage].url_button"
          target="_blank"
          >{{ data[indexPage].name_button }}</a
        >
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contenedor-pag" v-if="data[indexPage].id_template == 1">
      <div class="foto-portada-contenedor">
        <div class="foto-marco">
          <template v-if="data[indexPage].background.substr(0, 4) === 'blob'">
            <img :src="data[indexPage].background" alt="" />
          </template>
          <template v-else>
            <img :src="path + data[indexPage].background + '.png'" alt="" />
          </template>
        </div>
      </div>
      <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
        <span v-html="data[indexPage].desc_page_first"></span>
        <div class="pie-contacto pie-contacto-gris">
          <ul>
            <li class="ico-pie-contacto ico-telefono">
              <p>
                <a class="events-all" href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a>
              </p>
            </li>
            <li class="ico-pie-contacto ico-correo">
              <p>
                <a
                  class="events-all"
                  href="mailto:formacionycapacitacion@bascperu.org"
                  target="_blank"
                  >formacionycapacitacion@bascperu.org</a
                >
              </p>
            </li>
            <li class="ico-pie-contacto ico-web">
              <p>
                <a class="events-all" href="https://www.bascperu.org" target="_blank"
                  >https://www.bascperu.org</a
                >
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { config_settings } from '@/config.js';

export default {
  name: 'TemplatePage',
  props: {
    data: { type: Array },
    indexPage: { type: Number },
    pageWidth: { type: Number },
  },
  data() {
    return {
      index: 3,
      path: config_settings.PHOTO_SERVER_URL + 'admin/',
    };
  },

  methods: {},
};
</script>
