<template>
  <div>
    <vue-html2pdf
      :show-layout="false"
      :float-layout="false"
      :enable-download="true"
      filename="basc peru training"
      :pdf-quality="2"
      :manual-pagination="true"
      pdf-format="a4"
      pdf-orientation="portrait"
      pdf-content-width="99%"
      enable-links="true"
      style="visibility: hidden;"
      :htmlToPdfOptions="htmlToPdfOptions"
      @progress="onProgress($event)"
      @hasStartedGeneration="hasStartedGeneration()"
      @hasGenerated="hasGenerated($event)"
      ref="html2Pdf"
    >
      <section slot="pdf-content">
        <template v-for="(item, index) in data">
          <div class="contenedor-pag" v-if="data[index].id_template == 11" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor" style="margin-top:2px;">
                <div class="foto-imagen foto-contraportada">
                  <template v-if="data[index].image_first.substr(0, 4) === 'blob'">
                    <img :src="data[index].image_first" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].image_first + '.png'" alt="" />
                  </template>
                </div>
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <div class="logo logo-contraportada">
                  <template v-if="data[index].image_second.substr(0, 4) === 'blob'">
                    <img :src="data[index].image_second" alt="Logo BASC Perú" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].image_second + '.png'" alt="Logo BASC Perú" />
                  </template>
                </div>
                <div class="datos-contacto">
                  <span v-html="data[index].desc_page_second"></span>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 10" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-imagen foto-portada">
                  <template v-if="data[index].image_first.substr(0, 4) === 'blob'">
                    <img :src="data[index].image_first" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].image_first + '.png'" alt="" />
                  </template>
                </div>
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <div class="logo logo-portada">
                  <template v-if="data[index].image_second.substr(0, 4) === 'blob'">
                    <img :src="data[index].image_second" alt="Logo BASC Perú" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].image_second + '.png'" alt="Logo BASC Perú" />
                  </template>
                </div>
                <div class="titulo-portada">
                  <span v-html="data[index].desc_page_second"></span>
                </div>
                <div class="pie-contacto">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 9" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-imagen foto-pag2">
                  <template v-if="data[index].image_first.substr(0, 4) === 'blob'">
                    <img :src="data[index].image_first" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].image_first + '.png'" alt="" />
                  </template>
                </div>
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <span v-html="data[index].desc_page_first"></span>
                <div class="beneficios-basc">
                  <div
                    class="beneficios-item"
                    v-for="item in data[index].items"
                    :key="item.id_item"
                  >
                    <div class="beneficios-iconos">
                      <img
                        :src="path + item.url_image_item + '.png'"
                        alt=""
                        v-if="item.url_image_item != 'products/empty-img'"
                      />
                      <img
                        :src="path + item.url_image_item_second + '.png'"
                        alt=""
                        v-if="item.url_image_item_second != 'products/empty-img'"
                      />
                      <img
                        :src="path + item.url_image_item_third + '.png'"
                        alt=""
                        v-if="item.url_image_item_third != 'products/empty-img'"
                      />
                    </div>
                    <span v-html="item.desc_item"></span>
                  </div>
                </div>
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 8" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-imagen">
                  <template v-if="data[index].image_first.substr(0, 4) === 'blob'">
                    <img :src="data[index].image_first" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].image_first + '.png'" alt="" />
                  </template>
                </div>
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <span v-html="data[index].desc_page_first"></span>
                <span v-html="data[index].desc_page_second"></span>
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 7" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <span v-html="data[index].desc_page_first"></span>
                <div class="foto-pie">
                  <template v-if="data[index].image_second.substr(0, 4) === 'blob'">
                    <img :src="data[index].image_second" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].image_second + '.png'" alt="" />
                  </template>
                </div>
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 6" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <span v-html="data[index].desc_page_first"></span>
                <a class="btn-basc btn-cursos" :href="data[index].url_button" target="_blank">{{
                  data[index].name_button
                }}</a>
                <span v-html="data[index].desc_page_second"></span>
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 5" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <div
                  :class="'rrss-contenedor rrss' + (index + 1)"
                  v-for="(item, index) in data[index].items"
                  :key="item.id_item"
                >
                  <div class="rrss-icono">
                    <a :href="item.desc_item" target="_blank"
                      ><img :src="path + item.url_image_item_second + '.png'" alt="Facebook"
                    /></a>
                  </div>
                  <div class="rrss-captura">
                    <a :href="item.desc_item" target="_blank"
                      ><img :src="path + item.url_image_item_third + '.png'" alt="Facebook BASC"
                    /></a>
                  </div>
                </div>
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 4" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <div class="banner banner-top">
                  <a :href="data[index].url_button" target="_blank">
                    <template v-if="data[index].image_first.substr(0, 4) === 'blob'">
                      <img :src="data[index].image_first" :alt="data[index].name_button" />
                    </template>
                    <template v-else>
                      <img
                        :src="path + data[index].image_first + '.png'"
                        :alt="data[index].name_button"
                      />
                    </template>
                  </a>
                </div>
                <a
                  class="btn-basc btn-basc-centrado btn-basc-top"
                  :href="data[index].url_button"
                  target="_blank"
                  >{{ data[index].name_button }}</a
                >
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 3" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-imagen">
                  <template v-if="data[index].image_first.substr(0, 4) === 'blob'">
                    <img :src="data[index].image_first" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].image_first + '.png'" alt="" />
                  </template>
                </div>
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <span v-html="data[index].desc_page_first"></span>
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 2" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <span v-html="data[index].desc_page_first"></span>
                <div class="banner banner-pie">
                  <a :href="data[index].url_button" target="_blank">
                    <template v-if="data[index].image_second.substr(0, 4) === 'blob'">
                      <img :src="data[index].image_second" :alt="data[index].name_button" />
                    </template>
                    <template v-else>
                      <img
                        :src="path + data[index].image_second + '.png'"
                        :alt="data[index].name_button"
                      />
                    </template>
                  </a>
                </div>
                <a
                  class="btn-basc btn-basc-centrado btn-basc-pie"
                  :href="data[index].url_button"
                  target="_blank"
                  >{{ data[index].name_button }}</a
                >
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>

          <div class="contenedor-pag" v-if="data[index].id_template == 1" v-bind:key="index">
            <section class="pdf-item">
              <div class="foto-portada-contenedor">
                <div class="foto-marco">
                  <template v-if="data[index].background.substr(0, 4) === 'blob'">
                    <img :src="data[index].background" alt="" />
                  </template>
                  <template v-else>
                    <img :src="path + data[index].background + '.png'" alt="" />
                  </template>
                </div>
              </div>
              <div class="contenido-pag" :style="'font-size: ' + pageWidth + 'px;'">
                <span v-html="data[index].desc_page_first"></span>
                <div class="pie-contacto pie-contacto-gris">
                  <ul>
                    <li class="ico-pie-contacto ico-telefono">
                      <p><a href="tel:(511) 612-8300" target="_blank">(511) 612-8300</a></p>
                    </li>
                    <li class="ico-pie-contacto ico-correo">
                      <p>
                        <a href="mailto:formacionycapacitacion@bascperu.org" target="_blank"
                          >formacionycapacitacion@bascperu.org</a
                        >
                      </p>
                    </li>
                    <li class="ico-pie-contacto ico-web">
                      <p>
                        <a href="https://www.bascperu.org" target="_blank"
                          >https://www.bascperu.org</a
                        >
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
            <div class="html2pdf__page-break" v-bind:key="index" />
          </div>
        </template>
      </section>
    </vue-html2pdf>
  </div>
</template>

<script>
import { config_settings } from '@/config.js';
import VueHtml2pdf from 'vue-html2pdf';

export default {
  name: 'TemplatePdf',
  components: {
    VueHtml2pdf,
  },
  props: {
    data: { type: Array },
    indexPage: { type: Number },
    pageWidth: { type: Number },
  },
  data() {
    return {
      index: 3,
      path: config_settings.PHOTO_SERVER_URL + 'admin/',
      htmlToPdfOptions: {
        margin: [0, 0, 0, 0],
        filename: 'Revista Basc Perú Training',
        image: {
          type: 'jpeg',
          quality: 2,
        },
        enableLinks: true,
        html2canvas: {
          scale: 1,
          useCORS: true,
        },
        jsPDF: {
          unit: 'in',
          format: 'a4',
          orientation: 'portrait',
        },
      },
    };
  },

  methods: {
    generateReport() {
      this.$refs.html2Pdf.generatePdf();
    },
  },
};
</script>
