<template>
  <div class="app flex-row align-items-center fondo-login">
    <div class="container">
      <b-row class="justify-content-center">
        <template v-if="loading == false">
          <b-col md="6">
            <b-card-group>
              <b-card no-body class="p-4">
                <b-card-body>
                  <b-form v-on:submit.prevent="get_access_token()">
                    <h2 class="text-center"><strong>Revista BASC PERÚ TRAINING</strong></h2>
                    <p class="text-muted text-center">Administrador de contenidos</p>
                    <br />
                    <b-input-group class="mb-3">
                      <b-input-group-prepend
                        ><b-input-group-text><i class="icon-user"></i></b-input-group-text
                      ></b-input-group-prepend>
                      <b-form-input
                        type="text"
                        class="form-control"
                        placeholder="Usuario"
                        v-model="username_form"
                        autocomplete="username email"
                        maxlength="24"
                        required
                      />
                    </b-input-group>
                    <b-input-group class="mb-4">
                      <b-input-group-prepend
                        ><b-input-group-text><i class="icon-lock"></i></b-input-group-text
                      ></b-input-group-prepend>
                      <b-form-input
                        type="password"
                        class="form-control"
                        placeholder="Contraseña"
                        v-model="password_form"
                        autocomplete="current-password"
                        maxlength="300"
                        required
                      />
                    </b-input-group>
                    <b-row>
                      <div class="col text-center">
                        <b-button variant="primary" type="submit" class="px-4"
                          >Iniciar Sesión</b-button
                        >
                      </div>
                    </b-row>
                  </b-form>
                </b-card-body>
              </b-card>
            </b-card-group>
          </b-col>
        </template>
        <template v-else-if="loading == true">
          <i class="fa fa-refresh fa-spin fa-3x fa-fw fa-mrbig"></i>
        </template>
      </b-row>
    </div>
  </div>
</template>

<style lang="scss">
@import '../assets/css/personalized_style.css';
</style>

<script>
import toastr from 'toastr';
import { config_settings } from '../config.js';
import { UNAUTHORIZED } from '@/types/httpd.constants';
import { postLogin } from '@/service/account.service';
import { generateTokenBodyRequest, setTokens } from '@/helpers/localStorage.helpers';

export default {
  name: 'Login',
  data() {
    return {
      username_form: '',
      password_form: '',
      loading: false,
    };
  },
  methods: {
    get_access_token() {
      this.loading = true;
      const body = generateTokenBodyRequest(this.username_form, this.password_form);
      postLogin(body)
        .then((response) => {
          var token = response.data.access_token;
          var refresh_token = response.data.refresh_token;
          setTokens(token, refresh_token);
          this.$router.push({ name: 'Admin' });
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          if (error.response.status === UNAUTHORIZED) {
            console.log('unauthorized');
            toastr.error(
              'Clave y/o usuario no coinciden. Ingrese nuevamente su usuario y contraseña',
              'ERROR',
              { iconClass: 'customer-danger' },
            );
          }
        });
    },
  },
};
</script>
<style>
.warning-p {
  color: #ce3e3e;
}

.fa-mrbig {
  font-size: 80px;
  color: rgb(255, 254, 254);
}

.fondo-login {
  background-image: url('../assets/images/login-bg-5.jpg');
}
</style>
