@font-face {
  font-family: 'objective-font';
  src: url('assets/fonts/Objective-Regular.woff2') format('woff2');
}
// Here you can add other styles
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
#app {
  font-family: 'Source Sans Pro', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #ccc;
  overflow: hidden;
}
a {
  color: inherit;
}
.action-bar {
  width: 100%;
  height: 30px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.action-bar .btn {
  font-size: 30px;
  color: #999;
}

.action-bar .btn svg {
  bottom: 0;
}

.action-bar .btn:not(:first-child) {
  margin-left: 10px;
}

.has-mouse .action-bar .btn:hover {
  color: #ccc;
  filter: drop-shadow(1px 1px 5px #000);
  cursor: pointer;
}

.action-bar .btn:active {
  filter: none !important;
}

.action-bar .btn.disabled {
  color: #666;
  pointer-events: none;
}

.action-bar .page-num {
  font-size: 12px;
  padding-left: 32px;
}
.book-effects .viewport {
  width: 100%;
  height: calc(100vh - 50px - 40px);
}
.book-effects .bounding-box {
  box-shadow: 0 0 20px #000;
}
.credit {
  font-size: 12px;
  line-height: 20px;
  margin: 10px;
}
.ancho-total {
  width: 100% !important;
}
.customer-danger {
  background-color: #f86c6b;
}
.customer-success {
  background-color: #96ff8c;
}
.customer-warning {
  background-color: #f9fc6f;
}
.book-container {
  font-family: 'Montserrat';
  color: #6d6e71;
}
.bg-sidebar {
  background-color: #181d20 !important;
}
/* Ver Sidebar Scroll*/
.sidebar-content::-webkit-scrollbar {
  width: 8px !important; /* Tamaño del scroll en vertical */
  height: 8px !important; /* Tamaño del scroll en horizontal */
}
.sidebar-content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.sidebar-content::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
.ancho-total {
  width: 100% !important;
}
.formulario-padre {
  width: 100%;
  margin-bottom: 100px;
  padding-right: 6%;
  padding-left: 3%;
}
.color-dropdown {
  color: #3c5064 !important;
}
.contenedor-general {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2vw;
  background-color: gray;
  align-items: center;
  justify-content: center;
}
.contenedor-revista {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*background-color: red;*/
}
.contenedor-pag a {
  pointer-events: all !important;
}
.contenedor-pag iframe {
  pointer-events: all !important;
}
.contenedor-pag {
  position: relative;
  top: 0;
  /*max-width: 678px;*/
  /*z-index: -1;*/
  z-index: 1;
  pointer-events: none;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.events-all {
  pointer-events: all;
}
.contenedor-pag::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.contenedor-pag::before {
  content: '';
  padding-top: 141.59%;
  display: block;
}
.nav-link {
  color: #f0f3f5 !important;
}
img[alt='Enlace'] {
  width: 20px;
  height: 20px;
}
img[alt='Link'] {
  width: 20px;
  height: 20px;
}
/*
.pagina-contraportada{background-image: url(../img/pag14-preview.jpg);}
.pagina-portada{background-image: url(../img/pag1-preview.jpg);}
.pagina-1{background-image: url(../img/pag2-preview.jpg);}
.pagina-2{background-image: url(../img/pag3-preview.jpg);}
.pagina-3{background-image: url(../img/pag4-preview.jpg);}
.pagina-4{background-image: url(../img/pag5-preview.jpg);}
.pagina-5{background-image: url(../img/pag6-preview.jpg);}
.pagina-6{background-image: url(../img/pag7-preview.jpg);}
.pagina-7{background-image: url(../img/pag8-preview.jpg);}
.pagina-8{background-image: url(../img/pag9-preview.jpg);}
.pagina-9{background-image: url(../img/pag10-preview.jpg);}
.pagina-10{background-image: url(../img/pag11-preview.jpg);}
.pagina-11{background-image: url(../img/pag12-preview.jpg);}
.pagina-12{background-image: url(../img/pag13-preview.jpg);}
*/
.foto-portada-contenedor {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.foto-portada-contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foto-portada-imagen,
.foto-marco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.foto-portada {
  height: 68.3%;
}
.foto-contraportada {
  height: 60%;
}
.foto-pag1 {
  height: 49%;
}
.foto-pag2 {
  height: 53.3%;
}
.foto-pag5 {
  height: 53.3%;
}
.foto-pag8 {
  height: 53.3%;
}
.contenido-pag {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*font-size: 678px;*/
}
.logo {
  position: absolute;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo-portada {
  top: 54.7%;
  left: 8.5%;
  width: 23.7%;
  height: 14.5%;
  font-size: 0;
}
.logo-contraportada {
  top: 67.1%;
  left: 10.1%;
  width: 38.7%;
  height: 23.7%;
  font-size: 0;
}
.titulo-portada {
  position: absolute;
  top: 74.1%;
  left: 8.5%;
  width: 83%;
  text-transform: uppercase;
  color: #004aad;
  font-weight: 500;
  line-height: 115%;
  .detalle-1 {
    margin: 0;
    color: #008fc9;
    letter-spacing: 5px;
    font-family: 'objective-font', sans-serif;
  }
  .detalle-2 {
    margin: 0;
    color: #6d6e71;
    line-height: 70%;
    font-family: 'objective-font', sans-serif;
  }
}
.titulo-portada p {
  display: flex;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}
.titulo-portada strong {
  text-transform: uppercase;
  color: #004aad;
}
.pie-contacto {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7%;
}
.datos-contacto {
  position: absolute;
  top: 74.7%;
  right: 8.5%;
  width: 34.7%;
  color: #6d6e71;
}
.datos-contacto a {
  color: #6d6e71;
}
.datos-contacto ul,
.datos-contacto li {
  margin: 0;
  padding: 0;
}
.datos-contacto ul {
  margin-top: 5%;
}
.datos-contacto li {
  list-style: none;
  padding-left: 8%;
  margin-bottom: 5%;
}
.datos-contacto li p {
  margin: 0;
}
.datos-contacto a {
  color: #6d6e71;
  text-decoration: none;
}
.titulo-contacto {
  position: relative;
  color: #008fc9;
  font-weight: 700;
  line-height: 164%;
}
.titulo-contacto::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 19.2%;
  height: 8%;
  background-color: #008fc9;
}
.pie-contacto-gris {
  background-color: #f1f2f2;
}
.pie-contacto ul,
.pie-contacto ul li {
  margin: 0;
  padding: 0;
}
.pie-contacto ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}
.pie-contacto ul li {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 0 1.1%;
}
.ico-pie-contacto {
  background-repeat: no-repeat;
  background-position: left center;
}
/*
.ico-telefono{background-image: url(../img/ico-telefono.svg);}
.ico-correo{background-image: url(../img/ico-correo.svg);}
.ico-web{background-image: url(../img/ico-web.svg);}
*/
.pie-contacto ul li p {
  white-space: nowrap;
  margin: 0;
}
.pie-contacto ul li p a {
  text-decoration: none;
  color: #6d6e71;
}
.nombre-gg {
  position: absolute;
  top: 46.8%;
  right: 8.5%;
  width: 50%;
  text-align: right;
  color: #58595b;
  font-weight: 600;
  line-height: 134%;
}
.nombre-gg p {
  margin: 0;
}
.nombre-gg strong {
  color: #008fc9;
  text-transform: uppercase;
  font-weight: 600;
}
.palabras-gg {
  position: absolute;
  top: 55.21%;
  left: 10.7%;
  width: 81%;
  color: #58595b;
  text-align: justify;
  font-weight: 500;
  line-height: 158%;
}
.cta-gg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #174491;
  /*background-color: rgba(0,255,0,.2);*/
  color: #fff;
  padding: 0 10.3%;
}
.cta-gg p {
  margin: 0;
}
.cta-gg-titulo {
  width: 54%;
  margin-right: auto;
  font-weight: 600;
  line-height: 120%;
}
.cta-gg-titulo strong {
  color: #008fc9;
}
.cta-gg-mensaje {
  width: 40%;
  margin-left: auto;
}
.titulo-pag {
  position: absolute;
  color: #6d6e71;
  font-weight: 600;
  line-height: 120%;
}
.titulo-pag p {
  margin: 0;
}
.titulo-pag strong {
  color: #008fc9;
}

/*Página 2*/
.titulo-pag2 {
  top: 47.3%;
  left: 8%;
  width: 44%;
}
.descripcion {
  position: absolute;
  font-weight: 500;
  line-height: 164%;
  width: 81.5%;
  text-align: justify;
}
.descripcion-beneficios {
  top: 60.6%;
  left: 8%;
}
.beneficios-basc {
  position: absolute;
  top: 63.8%;
  left: 8%;
  display: flex;
  width: 84%;
  height: 29%;
  color: #6d6e71;
  font-weight: 600;
}
.beneficios-item {
  margin-right: 4.5%;
  width: 29.2%;
  height: 100%;
}
.beneficios-item:nth-last-child(1) {
  margin-right: 0;
}
.beneficios-iconos {
  display: flex;
  height: 23%;
  justify-content: center;
  align-items: center;
  background-color: #008fc9;
}
.beneficios-iconos img {
  margin: 0 2.5%;
  max-width: 26%;
  max-height: 80%;
}
.beneficios-titulo {
  margin: 6% 0 4% 0;
  font-weight: 700;
  line-height: 120%;
  color: #008fc9;
}
.beneficios-descripcion {
  line-height: 155%;
}

/*Página 3*/
.titulo-pag3 {
  top: 7.2%;
  left: 10.4%;
  width: 44%;
}
.curso-descripcion {
  top: 17%;
  left: 10.6%;
  width: 81.5%;
}
.btn-basc {
  position: absolute;
  padding: 1.95% 9.95% 1.95% 2.95%;
  background-color: #008fc9;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
.btn-basc::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 15.7%;
  height: 100%;
  background-color: #174491;
  /* background-image: url(../img/ico-link.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28%;
  border-left: solid 1px #fff;
}
.btn-basc:hover {
  color: #fff;
}
.btn-basc-centrado {
  display: inline-table;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.btn-basc-pie {
  bottom: 10%;
}
.btn-basc-top {
  top: 34%;
}
.btn-cursos {
  top: 24%;
  left: 10.6%;
}
.cursos-tabla {
  position: absolute;
  width: 81.1%;
  line-height: 130%;
  font-weight: 500;
}
.cursos-tabla .table {
  color: #6d6e71;
  /*color: red;*/
}
.cursos-tabla .table tr th {
  padding-top: 1.6%;
  padding-bottom: 1.6%;
  text-align: center;
  color: #008fc9;
}
.cursos-tabla .table tr td {
  padding-top: 1.7%;
  padding-bottom: 1.7%;
  line-height: 120%;
  text-align: center;
}
.cursos-tabla .table tr th,
.cursos-tabla .table tr td {
  vertical-align: middle;
}
.cursos-tabla .table tr th:nth-child(1),
.cursos-tabla .table tr td:nth-child(1) {
  padding-left: 0;
  width: 42%;
  text-align: left;
}
.cursos-tabla .table tr th:nth-last-child(1),
.cursos-tabla .table tr td:nth-last-child(1) {
  padding-right: 0;
  text-align: center;
  width: 13%;
}
.cursos-tabla .table tbody,
.cursos-tabla .table td,
.cursos-tabla .table tfoot,
.cursos-tabla .table th,
.cursos-tabla .table thead,
.cursos-tabla .table tr {
  border-bottom: solid 1px #008fc9;
}
.pagina-3 .cursos-tabla {
  top: 32.2%;
  left: 10.8%;
}

/*Página 4*/
.pagina-4 .cursos-tabla {
  top: 6.4%;
  left: 8.5%;
}
.foto-pie {
  position: absolute;
  bottom: 10.2%;
  right: 0%;
  width: 91.5%;
  height: 19.1%;
  //background-color: rgba(255, 0, 0, .2);
  font-size: 0;
}
.foto-pie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Página 5*/
.titulo-pag5 {
  top: 49.2%;
  left: 10.5%;
  width: 70%;
}
.descripcion-virtuales {
  top: 59.1%;
  left: 10.6%;
}
.pagina-5 .cursos-tabla {
  top: 64%;
  left: 10.5%;
}
.pagina-5 .cursos-tabla .table tr th {
  padding-top: 1.3%;
  padding-bottom: 1.3%;
}
.pagina-5 .cursos-tabla .table tr td {
  padding-top: 2.3%;
  padding-bottom: 2.3%;
  line-height: 134%;
}
.pagina-5 .cursos-tabla .table tr th:nth-child(1),
.pagina-5 .cursos-tabla .table tr td:nth-child(1) {
  width: 26%;
}
.pagina-5 .cursos-tabla .table tr th:nth-last-child(1),
.pagina-5 .cursos-tabla .table tr td:nth-last-child(1) {
  text-align: right;
  width: 15%;
}
.pagina-5 .cursos-tabla .table tr td:nth-last-child(1) strong {
  color: #008fc9;
}
.pagina-5 .cursos-tabla .table tr td:nth-last-child(1) strong::after {
  content: 'Horas';
  margin-left: 2%;
}
.pagina-5 .cursos-tabla .table img {
  max-width: 14%;
  vertical-align: bottom;
  margin-right: 2%;
}

/*Página 6*/
.titulo-pag6 {
  top: 6.8%;
  left: 8.2%;
  width: 82%;
}
.descripcion-gratuitas {
  top: 16.6%;
  left: 8.5%;
}
.pagina-6 .cursos-tabla {
  top: 21%;
  left: 8.5%;
}
.pagina-6 .cursos-tabla .table tr td {
  padding-top: 3%;
  padding-bottom: 3%;
}
.pagina-6 .cursos-tabla .table tr th:nth-child(1),
.pagina-6 .cursos-tabla .table tr td:nth-child(1) {
  width: 46%;
}
.pagina-6 .cursos-tabla .table tr th:nth-last-child(1),
.pagina-6 .cursos-tabla .table tr td:nth-last-child(1) {
  width: 28%;
}

/*Página 7*/
.titulo-pag7 {
  top: 7.2%;
  left: 10.4%;
  width: 44%;
}
.pagina-7 .cursos-tabla {
  top: 31%;
  left: 10.8%;
}
.banner {
  position: absolute;
  width: 100%;
  height: 25%;
  text-align: center;
  font-size: 0;
}
.banner-pie {
  bottom: 16%;
}
.banner-top {
  top: 7.2%;
}
.banner img {
  max-width: 100%;
  max-height: 100%;
}
.pagina-7 .cursos-tabla .table tr td {
  padding-top: 1%;
  padding-bottom: 1%;
}
.pagina-7 .cursos-tabla .table img {
  max-width: 52%;
}

/*Página 8*/
.titulo-pag8 {
  top: 50.9%;
  left: 8%;
  width: 62%;
}
.descripcion-opr {
  top: 60.6%;
  left: 8%;
}
.pagina-8 .servicios-opr {
  top: 67.8%;
  left: 8.3%;
}
.servicios-opr-lista {
  position: absolute;
  width: 81.5%;
}
.servicios-opr-titulo {
  margin-bottom: 3.2%;
  color: #008fc9;
  font-weight: 700;
  line-height: 121%;
}
.servicios-opr-lista ul,
.servicios-opr-lista ol,
.servicios-opr-lista li {
  margin: 0;
  padding: 0;
  /*color: red;*/
}
.servicios-opr-lista ul,
.servicios-opr-lista ol {
  margin-bottom: 6.9%;
}
.servicios-opr-lista li {
  position: relative;
  list-style: none;
  margin-bottom: 2.9%;
  padding-left: 4.6%;
  font-weight: 500;
  line-height: 120%;
}
.servicios-opr-lista ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3%;
  height: 100%;
  /*background-image: url(../img/check.png);*/
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% auto;
}
.servicios-opr-lista ol {
  counter-reset: li;
}
.pagina-10 .servicios-opr-lista ol {
  counter-reset: li 2;
}
.servicios-opr-lista ol > li:before {
  counter-increment: li;
  content: counter(li) '·';
  position: absolute;
  top: 0;
  left: 0;
  color: #008fc9;
  font-weight: 700;
}

/*Página 9*/
.pagina-9 .servicios-opr {
  top: 7.2%;
  left: 10.4%;
}

/*Página 10*/
.pagina-10 .servicios-opr {
  top: 6.8%;
  left: 8.2%;
}

/*Página 12*/
.rrss-contenedor {
  position: absolute;
  width: 37.6%;
  height: 26.8%;
  /*background-color: rgba(255,0,0,.2);*/
}
.rrss1 {
  top: 7.2%;
  left: 8.8%;
}
.rrss2 {
  top: 7.2%;
  right: 13.4%;
}
.rrss3 {
  top: 35.4%;
  left: 8.8%;
}
.rrss4 {
  top: 35.4%;
  right: 13.4%;
}
.rrss5 {
  top: 63.6%;
  left: 8.8%;
}
.rrss6 {
  top: 63.6%;
  right: 13.4%;
}
.rrss-icono {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 26%;
  height: 26%;
  font-size: 0;
}
.rrss-icono img {
  max-width: 100%;
  max-height: 100%;
}
.rrss-captura {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
  width: 89%;
  height: 89%;
  text-align: center;
  background-color: #f1f2f2;
  /*background-color: rgba(255,255,0,.2);*/
}
.rrss-captura a {
  display: contents;
  max-width: 100%;
  max-height: 100%;
}
.rrss-captura img {
  max-width: 100%;
  max-height: 100%;
}
textarea#d1 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block !important;
  width: 1px;
  height: 1px;
  opacity: 0;
}
textarea#d2 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block !important;
  width: 1px;
  height: 1px;
  opacity: 0;
}
textarea#d3 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block !important;
  width: 1px;
  height: 1px;
  opacity: 0;
}
textarea#d4 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block !important;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.table td,
.table th {
  border-top: 0;
}
.cursos-tabla table {
  width: 100% !important;
}
.cursos-tabla .table tr {
  height: 20px !important;
}
.cursos-tabla .table tr td {
  height: 20px !important;
}
.cursos-tabla .table img {
  max-width: 50% !important;
}

@media (min-width: 0px) {
  .titulo-portada {
    font-size: 6.71%;
    .principal {
      font-size: 105.21%;
    }
    .detalle-1 {
      font-size: 96.21%;
    }
    .detalle-2 {
      font-size: 68.18%;
    }
  }
  .titulo-portada strong {
    display: flex;
    margin-right: 1.5%;
    font-size: 100%;
  }
  .nombre-gg {
    font-size: 3.1%;
  }
  .nombre-gg strong {
    font-size: 109.52%;
  }
  .palabras-gg {
    font-size: 2.06%;
  }
  .cta-gg-titulo {
    font-size: 4.65%;
  }
  .cta-gg-titulo strong {
    font-size: 84%;
  }
  .cta-gg-mensaje {
    font-size: 2.18%;
  }
  .titulo-contacto {
    font-size: 4.19%;
  }
  .datos-contacto ul {
    font-size: 1.92%;
  }
  .pie-contacto ul li {
    padding-left: 4%;
  }
  .pie-contacto ul li p {
    font-size: 1.83%;
  }
  .ico-pie-contacto {
    background-size: auto 80%;
  }
  .titulo-pag {
    font-size: 4.65%;
  }
  .beneficios-titulo {
    font-size: 2.8%;
  }
  .beneficios-descripcion {
    font-size: 1.8%;
  }
  .descripcion {
    font-size: 2.06%;
  }
  .btn-basc {
    font-size: 2.06%;
  }
  .cursos-tabla {
    font-size: 1.62%;
  }
  .cursos-tabla .table tr td {
    font-size: 105.46%;
  }
  .pagina-5 .cursos-tabla {
    font-size: 2.06%;
  }
  .pagina-5 .cursos-tabla .table tr td {
    font-size: 101.43%;
  }
  .pagina-5 .cursos-tabla .table tr td:nth-last-child(1) strong {
    font-size: 214.29%;
  }
  .pagina-5 .cursos-tabla .table tr td:nth-last-child(1) strong::after {
    font-size: 42%;
  }
  .pagina-6 .cursos-tabla .table tr td {
    font-size: 103.64%;
  }
  .pagina-7 .cursos-tabla .table tr td {
    font-size: 103.63%;
  }
  .servicios-opr-titulo {
    font-size: 2.8%;
  }
  .servicios-opr-lista li {
    font-size: 2.06%;
  }
  .servicios-opr-lista ol > li:before {
    font-size: 135.7%;
  }
}
